@{
  Layout = "_Layout";
}

<h1>Welcome to Flavor Town!</h1>

@using FlavorTown.Models

<main class="row">
  <div class="col-sm-6 text-center">
    <h2>Treats:</h2>
    @if (@Model["treats"].Count == 0)
    {
      @Html.ActionLink("Add a new treat", "Create", "Treats")
    }
    else
    {
      <ul>
        @foreach (Treat treat in @Model["treats"])
        {
          @Html.ActionLink($"{treat.Name}", "Details", "Treats", new {id = treat.TreatId})
          <br>
        }
      </ul>
    }
  </div>

  <div class="col-sm-6 text-center">
    <h2>Flavors:</h2>
    @if (@Model["flavors"].Count == 0)
    {
      @Html.ActionLink("Add a new flavor", "Create", "Flavors")
    }
    else
    {
      <ul>
        @foreach (Flavor flavor in @Model["flavors"])
        {
          @Html.ActionLink($"{flavor.Name}", "Details", "Flavors", new {id = flavor.FlavorId})
          <br>
        }
      </ul>
    }

  </div>

</main>
<br>
<br>

<p id="action">@Html.ActionLink("See all flavors", "Index", "Flavors", null, new { @class="btn btn-info" })&nbsp;&nbsp;
  @Html.ActionLink("See all treats", "Index", "Treats", null, new { @class="btn btn-info" })&nbsp;&nbsp;
  @Html.ActionLink("Create an account", "Index", "Account", null, new { @class="btn btn-success" })</p>